.resto {
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
  }
/* status-bar.css */
.status {
  flex-direction: column;
}

.bar {
  margin-bottom: 1rem;
}
.background-main {
  height: 2500px;
  background-color: #87ceeb; /* This color matches the bg-blue-200 color */
}
@media (min-width: 768px) {
  .status {
      flex-direction: row;
  }
  .bar {
      margin-bottom: 0;
  }
  .background-main {
    height: 728px;
    background-color: #87ceeb; /* This color matches the bg-blue-200 color */
  }
}