.kamar {
  background-image: url('./assets/kamar.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  margin: none;
}

.weather-box {
  position: absolute; /* Gunakan posisi absolut untuk penempatan spesifik */
  top: 10px; /* Atur jarak dari atas */
  left: -630px; /* Atur jarak dari kiri */
  padding: 20px;
  box-sizing: border-box;
}

.show-box {
  position: fixed;
  top: 10%;
  left: 35%;
  width: 30%;
  height: 80%;
  background-color: white;
  border: 4px solid black;
  justify-content: center;
  display: flex;
  overflow: auto; /* Ensure scrollability if content overflows */
}

.show-box .close-button {
  position: absolute;
  top: 1%;
  right: 2%;
}
.show-box-content {
  top: 5%;
  overflow: auto; /* Ensures scrollability if content overflows */
}


