.kamar {
  background-image: url('./assets/kamar.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  margin: none;
}

.weather-box {
  position: absolute; /* Gunakan posisi absolut untuk penempatan spesifik */
  top: -90px; /* Atur jarak dari atas */
  left: 125px; /* Atur jarak dari kiri */
  box-sizing: border-box;
}

.options-box {
  position: fixed;
  top: 10%;
  left: 15%;
  width: 75%;
  height: 80%;
  padding: 1rem;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0.75rem;
  background: linear-gradient(to right, #bfdbfe, #fbcfe8, #c4b5fd); 
  border: 4px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.show-box {
  position: fixed;
  top: 10%;
  left: 15%;
  width: 75%;
  height: 80%;
  background-color: white;
  border: 4px solid black;
  justify-content: center;
  display: flex;
  overflow: auto; /* Ensure scrollability if content overflows */
}

.dialog-user{
  width: 220px;
  height: auto;
  margin-left: -20px;
  margin-bottom: 50px;
}

.dialog-friend{
  width: 145px;
  height: auto;
  margin-left: 40px;
  margin-bottom: 50px;
}

.dialog-box{
  width: 300px;
  min-height: 150px;
  margin-bottom: 50px;
}

.gbr {
  margin-left: 70px;
  margin-top: 70px;
  width: 270px;
  height: auto;
  border-radius: 1rem; /* Equivalent to 'rounded-xl' */
  transition: transform 300ms ease-in-out; /* Equivalent to 'transition-transform duration-300 ease-in-out' */
}

.gbr:hover {
  transform: scale(1.05); /* Equivalent to 'hover:scale-105' */
}

.show-box .close-button {
  position: absolute;
  top: 1%;
  right: 2%;
}
.show-box-content {
  top: 5%;
  overflow: auto; /* Ensures scrollability if content overflows */
}


.phone-button {
  margin-bottom: 30px;
  width: 100px;
  height: auto;
}
.play-button {
  margin-bottom: 30px;
  width: 150px;
  height: auto;
}

@media (min-width: 768px) {
  .phone-button {
    width: 150px;
    height: auto;
}
  .play-button {
    width: 250px;
    height: auto;
  }
  .weather-box {
    position: absolute; /* Gunakan posisi absolut untuk penempatan spesifik */
    top: 10px; /* Atur jarak dari atas */
    left: -630px; /* Atur jarak dari kiri */
    padding: 20px;
    box-sizing: border-box;
  }

  .show-box {
  position: fixed;
  top: 10%;
  left: 35%;
  width: 30%;
  height: 80%;
  background-color: white;
  border: 4px solid black;
  justify-content: center;
  display: flex;
  overflow: auto; /* Ensure scrollability if content overflows */
}

.dialog-user{
  width: 400px;
  height: auto;
}

.dialog-friend{
  width: 270px;
  height: auto;
  right: 150px;
}
.dialog-box{
  width: 1521px;
  min-height: 150px;
  margin-bottom: 50px;
}
.gbr {
  margin-left: 600px;
  margin-top: 50px;
  width: 300px;
  height: auto;
  border-radius: 1rem; /* Equivalent to 'rounded-xl' */
  transition: transform 300ms ease-in-out; /* Equivalent to 'transition-transform duration-300 ease-in-out' */
}

.options-box {
  position: fixed;
  top: 10%;
  left: 35%;
  width: 30%;
  height: 80%;
  padding: 1rem;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0.75rem;
  background: linear-gradient(to right, #bfdbfe, #fbcfe8, #c4b5fd); 
  border: 4px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
}

