.container-movie {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  overflow-y: auto; /* Ensure the container scrolls if content overflows */
  padding: 10px;
  box-sizing: border-box;
}

.movie {
  width: 100%;
  max-width: 250px;
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
}

.movie img {
  width: 100%;
  border-bottom: 1px solid #ccc;
}

.movie-details {
  padding: 10px;
  background-color: #fff;
}

.movie-details .box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.movie-details .title {
  font-size: 1.2em;
  font-weight: bold;
}

.movie-details .rating {
  background-color: #f39c12;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

.movie-details .overview {
  font-size: 0.9em;
  color: #666;
}

.show-box .close-button {
    position: absolute;
    top: 1%;
    right: 2%;
  }
  .show-box-content {
    top: 5%;
    overflow: auto; /* Ensures scrollability if content overflows */
  }